@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:roboto ;
    background-color:#4CAF50 ;
}
.container{
 width: 450px;
 height: 400px;
 background-color: #fff;
 border-radius: 20px;
 margin: 75px auto;
 padding: 20px;
 text-align: center;
}

input{
    width: 100%;
    margin-bottom: 10px;
    padding: 25px;
    margin-top: 17px;
    border-radius: 7px;
    outline: 0;
    border :0 ;
    background-color: rgb(165, 247, 202);
}

p{
    margin:20px;
    color: rgb(143, 143, 143);
}

p a {
    color: rgb(23, 139, 0);
    text-decoration: none;
}

input[type=submit]{
    background-color:rgb(85, 161, 130) ;
}

input:hover{
   background-color:rgb(185, 255, 214);
   
   
}
